<!DOCTYPE html>
<html lang="fa">
<head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @Styles.Render("~/Styles/Bootstrap")
    @if (IsSectionDefined("styles"))
    {
        RenderSection("styles");
    }

    @Scripts.Render("~/Scripts/JQuery", "~/Scripts/Bootstrap")
    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts");
    }

    @if (CultureHelper.IsCurrentCultureRightToLeft())
    {
        @Styles.Render(CultureHelper.GetCultureSensitiveBundleName("~/Styles/Bootstrap", true))
        @Scripts.Render(CultureHelper.GetCultureSensitiveBundleName("~/Scripts/Bootstrap", true));
    }

</head>
<body @Html.DirectionAttribute()>
    <div class="container">
        <div @Html.DirectionAttributeReverse()>
            <a href="@Url.Action("ChangeLanguage", "Settings", new { language = Language.Farsi, returnUrl = Request.RawUrl })">
                <img src="~/Content/img/flag-ir.png" alt="@Resource.LanguageFarsi" />
            </a>
            <a href="@Url.Action("ChangeLanguage", "Settings", new { language = Language.English, returnUrl = Request.RawUrl })">
                <img src="~/Content/img/flag-us.png" alt="@Resource.LanguageEnglish" />
            </a>
        </div>
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="@Html.GetClassForNavbarItem("Home", "Index")">
                    @Html.ActionLink(@Resource.NavbarHome, "Index")
                </li>
                <li class="@Html.GetClassForNavbarItem("Home", "About")">
                    @Html.ActionLink(@Resource.NavbarAbout, "About")
                </li>
            </ul>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
